---
---
/* putting some directive before the import stops vscode from warning */
#placatevscode { direction: ltr; }

@import 'contentStyle';
@include attop;
@import 'variables';
@import 'normalize';
@import 'myreset';

@include unscoped;

#content {
  @include maincontent;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

html {
  line-height: 1.5;
  font-size: 16px;
}

body {
  width: 100%;
  background: white;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1vh solid transparent;
}

div#header a {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div#header div#logo a {
  font-size: 4.6875vw; /*1.5*(100/32) */
}

@media only screen and (min-width: 32rem) {
  div#header div#logo a {
    font-size: 1.5rem;
  }
}

#header #logo, #header #navigation {
  text-align: center;
}

#header #logo a {
  display: inline-block;
  padding: 0.9em 2em 0.4em;
  margin: 0.3em 0;
}

#header a:hover {
  background-image: url(/images/precircle.svg);
}

body #header a.active {
  background-image: url(/images/circle.svg);
}

body #header a.active {
  color: rgb(27,94,32);/*rgb(76,175,80); */
}

#header #navigation a {
  display: inline-block;
  padding: 0.7em 0.8em 0.3em;
  font-weight: bolder;
}

#header a {
  color: rgb(27,94,32);/*rgb(76,175,80); */
}


