@mixin attop {
  @import url('/css/fonts.css');
} 


@mixin unscoped {

html {
  line-height: 1.5;
  font-size: 16px;
}

body {
  width: 100%;
  background: white;
  font-family: 'Raleway', sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

#content, #site_content {
  color: #212121;
}

}


@mixin maincontent {

h1 {
  font-size: 4.444444vw;/*2*(100/45) */
}

h2 {
  font-size: 3.333333vw;/*1.5*(100/45) */
}

@media (min-width: 45rem) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 33rem) {
  h1 {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
  h2 {
    font-size: 1.1rem;
  }
}

a.imglink:hover img {
  opacity: 1;
}

a.imglink img {
  width: 1em;
  opacity: 0.5;
  transition: opacity 0.6s;
}

h1, h1 a, h2, h3, h4 {
  color: rgb(27,94,32);/*rgb(76,175,80); */
}

a.imglink {
  text-decoration: none;
}

.importantbox {
  max-width: 1200px;
  padding: 0.5rem 1.5rem 0.5rem;
  margin: 1rem 0 1rem;
  display: inline-block;
  background-image: url("/images/background.png");
  background-size: 100% 100%;
  flex: 2;
}

a {
  word-wrap: break-word;
  text-decoration: underline;
}

.boxed {
  border: 1.0rem solid #4CAF50;
  border-radius: 2rem;
  padding: 0.6rem 0.6rem 0.6rem;
  margin-bottom: 0.6rem;
  border-image: url(/images/border.svg) 50 50 50 50 stretch;
  flex: 1;
}

/* not sure if i want the next two? */
#content {
  text-align: center;
}

#content > div {
  text-align: left;
}


/* starting from here it's old stuff from Christian's website */

div.imglink {
  display: inline-block;
  vertical-align: top;
  width: min-content;
}

img {
  max-width: 100%;
}

// flash target when jumping within page
.named-anchor:target+* {
  animation-name: flash-target;
  animation-duration: 2s;
}
@keyframes flash-target {
  from, to {
  }
  20% {
    background-color: #aae4e5;
  }
}

:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) { // any element that's not a heading
&:not(.named-anchor),&+.named-anchor { // but ignore .named-anchor
  &+h1,&+h2,&+h3,&+h4,&+h5,&+h6 { // heading following this element
    margin-top: 30px; // should have a margin-top
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #408f9d;
  padding: 3px;
}

}

code { color: red; font-weight: 600; font-family: inherit; }
blockquote {
  margin: 30px 0px;
  padding: 10px 20px;
  border: 2px solid #b13b66;
  border-radius: 5px;
  color: #b13b66;
}

}
