<!DOCTYPE html>
{%- assign language = page.language | default: site.site_language | default: "en" %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta property="og:image" content="http://vienna.contactimprovisation.at/images/screenshots/vienna.contactimprovisation.at.png" />
  <title>{{ page.title }} - contactimprovisation.at</title>
  <link rel="icon" href="{{ site.data.settings.favicon }}" />
  <link rel="stylesheet" href="css/style.css" />
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
  <script>
    function retarget_external()
    {
      for (var links = document.links, i = 0, a; a = links[i]; i++) {
              if (a.host !== location.host) {
                      a.target = '_blank';
              }
      }
    }
    if (document.readyState === "loading") {
      // Loading hasn't finished yet
      document.addEventListener("DOMContentLoaded", retarget_external);
    } else {
      // `DOMContentLoaded` has already fired
      retarget_external();
    }
  </script>
</head>
<body id="onlyon-{{ page.slug }}">
  <div id="main">
    <div id="header">
      <div id="logo">
        <a {% if page.url == '/' %}class="active"{% endif %}
          href="/">vienna.contactimprovisation.at</a>
      </div>
      {% include navigation.html %}
    </div>

    <div id="content">
    {{ content }}
    </div>

  </div>

</body>
</html>
